@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


<p>Photo Magic is web application that was designed and created by Lydia Keenan and Jordan Richardson.
    This was developed to solve CSI3304 Software Development Framework Assignment.
    This application allows to download images for free.<br />
    So Enjoy!</p>
