
@using ImageServer.Models;
@using System.IO;

@model List<ImageUpload>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PHOTO MAGIC</h1>
    <p><img src="~/App_Data/front.jpg" height="46" width="46" /></p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    NEED A BACKGROUND IMAGE IF ITS POSSIBLE
        -->
</div>
<!--
<div class="content">
    <ul>
        foreach (ImageUpload m in Model)
        {
        
           <li><img src="m.ImagePath" width="200" height="200" />Path.GetFileName(m.ImageName)</li>
        }
    </ul>
</div>
    -->
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Customized Photos!</h2>
        <p>
            Easy way to customize the photo you want!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Photos from everywhere and anywhere!</h2>
        <p>A wide variety of photos!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Easy Search</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
    -->